<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.filelauncher.agent</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/alfonsograna/Documents/code/filelauncher/bin/filelauncher</string>
      <string>-config</string>
      <string>/Users/alfonsograna/Documents/code/filelauncher/config.yaml</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/alfonsograna/Documents/code/filelauncher</string>
    <key>WatchPaths</key>
    <array>
      <string>/Users/alfonsograna/Documents/code/filelauncher/notes</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>2</integer>
    <key>StandardOutPath</key>
    <string>/tmp/filelauncher.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/filelauncher.err</string>
  </dict>
</plist>
